<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31385203035-4q8dkrjpgdbo3d52hd3o1atuftbn0n96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31385203035-4q8dkrjpgdbo3d52hd3o1atuftbn0n96</string>
	<key>API_KEY</key>
	<string>AIzaSyCx2bkicofSDwaryI9zXwnWjBc1bXgxcLM</string>
	<key>GCM_SENDER_ID</key>
	<string>31385203035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bahadiretka.Zet-sChat</string>
	<key>PROJECT_ID</key>
	<string>zet-schat</string>
	<key>STORAGE_BUCKET</key>
	<string>zet-schat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31385203035:ios:60e753086af4696f0aea7e</string>
</dict>
</plist>